.container {
  background-color: #000000;
  min-height: 30vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.detailContainer {
  color: #FFFFFF;
}
